@import url(/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
:root {
    --clr-primary:23 20 24;
    --clr-secondary: 60 6 48;
    --clr-accent: #666;
    --border-radius: .35rem;
    --figure-gap: 1rem;
}

body {
    user-select: none;
    background-color: rgb(var(--clr-primary));
    font-family: "Overpass", sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 9999px;
    border: 0.25rem solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(66 66 66 / 0.815);
    border-radius: 9999px;
    border: 0.25rem solid transparent;
    background-clip: padding-box;
}


/* start of styling */

h1 {
    font-size: 1.35em;
    line-height: 100%;
}

h2 {
    font-size: 0.5em;
}

.hero-header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    background: url("../assets/background.png") repeat;
    object-fit: cover;
    font-size: 2.5em;
    height: 50vh;
    gap: 3rem;
}

.hero-header:nth-child(1) {
    justify-items: end;
}

.hero-header img {
    width: 8rem;
    height: auto;
    border: 2px solid white;
    border-radius: 100%;
}

.hero-header:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 0), rgba(23 20 24 / 1) 90%);
    bottom: 0;
    height: 2rem;
    width: 100%;
    pointer-events: none;
}

.hero-text {
    width: 100%;
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgb(26 11 23 / .75);
    backdrop-filter: blur(.25rem);
    color: rgb(243, 225, 240);
    font-weight: bold;
    border: 3px solid white;
    text-align: center;
    border-radius: calc(var(--border-radius) * 2);
}

.hero-text h2 {
    color: #bbb;
}

.socials {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-inline: 2rem;
    border-bottom: 2px solid white;
}

.socials svg {
    height: 3rem;
    width: 3rem;
    fill: white;
    transition: scale 0.2s ease-in, fill 0.2s ease-in;
}

.socials svg:hover {
    scale: 1.05;
}

#discord:hover {
    fill: #5865F2;
}

#instagram:hover {
    fill: #E1306C;
}

.social p {
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
}

.social:hover {
    border: 2px solid white;
}

.work-container {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;
}

.work-wrapper {
    background-color: rgb(var(--clr-secondary));
    border: 1px solid var(--clr-accent);
    border-radius: var(--border-radius);
    color: white;
}

.work-wrapper figure {
    display: flex;
    flex-direction: column;
    gap: var(--figure-gap);
}

.work-wrapper figcaption {
    padding: 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-wrapper .work-img {
    height: auto;
    max-height: 200px;
    width: auto;
    object-fit: cover;
    object-position: center 25%;
    background: radial-gradient(#3b333e,#171418);
    border-radius: var(--border-radius);
}

.work-wrapper h3 {
    font-size: 1rem;
    font-style: oblique;
    font-weight: 500;
}

.work-wrapper h3::before {
    margin-right: 2px;
    content: open-quote;
}

.work-wrapper h3::after {
    margin-left: 2px;
    content: close-quote;
}

.work-wrapper p {
    font-size: .8rem;
}

.img-wrapper {
    position: relative;
}

.carousel {
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.carousel img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 3px solid rgb(var(--clr-primary) / 0.8);
    border-radius: var(--border-radius);
}

.carousel .dot {
    cursor: pointer;
    filter: saturate(25%);
    opacity: 0.8;
    transition: filter 100ms ease-in, opacity 100ms ease-in;
}

.carousel .active, .dot:hover {
    filter: saturate(100%);
    opacity: 1;
}

.carouselSlide {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .hero-header {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .hero-text {
        margin: 0;
    }
    .hero-text h2 {
        display: none;
    }
    .work-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .carousel {
        flex-direction: column;
        bottom: 50%;
        left: 0.25rem;
        translate: 0 50%;
    }
}
